In [53]:
import pandas as pd
import json
from langchain_groq import ChatGroq

model=ChatGroq(model='llama-3.1-8b-instant')
# res=model.invoke("provide a dataframe in dict type so that i can directly store it in a variable of 10 records having key names as order_id,product,category,quantity,price,order_date. " \
# "Make sure that the dataframe should be in dict type. Also make sure you only provide dataframe without any additional information." \
# )
res=model.invoke("""
            You are an expect in creating dataframe having some duplicates keeping in mind the pandas dataframe rules. 
            I want you to provide the output in JSON format having order_id,product,category,quantity,price,order_date keys with data for dataframe.
            Make sure to only provide json as an output, don't include any addtional information or text.
        Instructions:
                 1. Ensure all lists for the keys have exactly 20 records.
                 2. make sure it will have duplicate records.
                 3. Only 'quantity' or 'price' column will have some missing values.
            Output format:
                 {
                 'order_id':[],
                 'product':[],
                 'category':[],
                 'quantity':[],
                 'price':[],
                 'order_date':[],
                 }
"""
)
df= json.loads(res.content)
df

{'order_id': [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 7, 8, 9, 10],
 'product': ['Product A',
  'Product B',
  'Product C',
  'Product D',
  'Product E',
  'Product A',
  'Product B',
  'Product C',
  'Product D',
  'Product E',
  'Product F',
  'Product G',
  'Product H',
  'Product I',
  'Product J',
  'Product A',
  'Product G',
  'Product H',
  'Product I',
  'Product J'],
 'category': ['Category 1',
  'Category 2',
  'Category 3',
  'Category 4',
  'Category 5',
  'Category 1',
  'Category 2',
  'Category 3',
  'Category 4',
  'Category 5',
  'Category 6',
  'Category 7',
  'Category 8',
  'Category 9',
  'Category 10',
  'Category 1',
  'Category 7',
  'Category 8',
  'Category 9',
  'Category 10'],
 'quantity': [10,
  20,
  30,
  40,
  50,
  10,
  20,
  30,
  40,
  50,
  60,
  70,
  80,
  90,
  100,
  10,
  70,
  80,
  90,
  100],
 'price': [10.5,
  20.5,
  30.5,
  40.5,
  50.5,
  10.5,
  20.5,
  None,
  40.5,
  50.5,
  60.5,
  70.5,
  80.5,
  90.5,
  100.5,
  10.5,
  70.5,
  80.5,
  90.5,
  100.5],
 'order_date': ['2022-01-01',
  '2022-01-02',
  '2022-01-03',
  '2022-01-04',
  '2022-01-05',
  '2022-01-01',
  '2022-01-02',
  '2022-01-03',
  '2022-01-04',
  '2022-01-05',
  '2022-01-06',
  '2022-01-07',
  '2022-01-08',
  '2022-01-09',
  '2022-01-10',
  '2022-01-01',
  '2022-01-07',
  '2022-01-08',
  '2022-01-09',
  '2022-01-10']}

In [54]:
df=pd.DataFrame(df)
df.head()

   order_id    product    category  quantity  price  order_date
0         1  Product A  Category 1        10   10.5  2022-01-01
1         2  Product B  Category 2        20   20.5  2022-01-02
2         3  Product C  Category 3        30   30.5  2022-01-03
3         4  Product D  Category 4        40   40.5  2022-01-04
4         5  Product E  Category 5        50   50.5  2022-01-05

In [55]:
df.shape

(20, 6)

In [56]:
df.duplicated().sum()

9

In [57]:
df.drop_duplicates(inplace=True)

In [58]:
df.isnull().sum()

order_id      0
product       0
category      0
quantity      0
price         1
order_date    0
dtype: int64

In [ ]:
df['price'].fillna(df['price'].median(), inplace=True)

In [60]:
df.isnull().sum()

order_id      0
product       0
category      0
quantity      0
price         0
order_date    0
dtype: int64