considering the same churn dataset and problem statement but here the output feature is EstimatedSalary, so here will predict the salary

In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
df=pd.read_csv('../Churn_Modelling.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

for converting the gender and geography column to numeric data using the same pickle file created in classification, we can also create the pickle files again by following the same process

same scaler we can't use here as the independent and dependent features are changed here so need to create the new standardized scalar

In [20]:
with open('../classification/labelencoder.pkl','rb') as file:
    labelencoder=pickle.load(file)

with open('../classification/onehotencoder.pkl','rb') as file:
    onehotencoder=pickle.load(file)

In [6]:
df['Gender']=labelencoder.transform(df['Gender'])
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [15]:
geo=onehotencoder.transform(df[['Geography']]).toarray()
geo_df=pd.DataFrame(geo,columns=onehotencoder.get_feature_names_out(['Geography']))
geo_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [16]:
df=pd.concat([df.drop('Geography',axis=1),geo_df],axis=1)
df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [17]:
X=df.drop('EstimatedSalary',axis=1)
Y=df['EstimatedSalary']

In [18]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [21]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [38]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [44]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [45]:
model=Sequential([
    Dense(64,activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)  # as its regression problem so by default linear activation function gets applied
])

c:\Users\srish\anaconda3\envs\langchain\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

make sure that after compiling the model you see the summary and use the model else it will through an error

In [46]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_11 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_12 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_13 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [47]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [48]:
log_dir='logs/fit/'+datetime.datetime.now().strftime("%Y%m%d=%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [49]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [50]:
# train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100781.2812 - mae: 100781.2812 - val_loss: 98516.7500 - val_mae: 98516.7500
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99505.4766 - mae: 99505.4766 - val_loss: 96975.8281 - val_mae: 96975.8281
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 97527.4141 - mae: 97527.4141 - val_loss: 93048.3438 - val_mae: 93048.3438
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 93387.1094 - mae: 93387.1094 - val_loss: 86489.0078 - val_mae: 86489.0078
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 87337.7109 - mae: 87337.7109 - val_loss: 77954.2344 - val_mae: 77954.2344
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 77462.2031 - mae: 77462.2031 - val_loss: 69175.7969 - val_mae: 69175.7969
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 68240.1328 - mae: 68240.1328 - val_loss: 61489.4102 - val_mae: 61489.4102
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 59414.0781 - mae: 59414.0781 - val_loss: 56024.7188 - val_mae: 56024.7188
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 54784.0156 - mae: 54784.0156 - val_loss: 52872.8203 - val_mae: 52872.8203
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 52500.1055 - mae: 52500.1055 - val_loss: 51422.6484 - val_mae: 51422.6484
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51021.3594 - mae: 51021.3594 - val_loss: 50876.3633 - val_mae: 50876.3633
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51121.8398 - mae: 51121.8398 - val_loss: 50672.9453 - val_mae: 50672.9453
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50713.5781 - mae: 50713.5781 - val_loss: 50593.6172 - val_mae: 50593.6172
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50210.9688 - mae: 50210.9688 - val_loss: 50537.6680 - val_mae: 50537.6680
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50375.2422 - mae: 50375.2422 - val_loss: 50496.7734 - val_mae: 50496.7734
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50477.1836 - mae: 50477.1836 - val_loss: 50470.7539 - val_mae: 50470.7539
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49830.0117 - mae: 49830.0117 - val_loss: 50423.0391 - val_mae: 50423.0391
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50326.1602 - mae: 50326.1602 - val_loss: 50382.6680 - val_mae: 50382.6680
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49673.5352 - mae: 49673.5352 - val_loss: 50369.3672 - val_mae: 50369.3672
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49871.3672 - mae: 49871.3672 - val_loss: 50353.8906 - val_mae: 50353.8906
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49715.2422 - mae: 49715.2422 - val_loss: 50332.2383 - val_mae: 50332.2383
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49708.4883 - mae: 49708.4883 - val_loss: 50308.1992 - val_mae: 50308.1992
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49690.6094 - mae: 49690.6094 - val_loss: 50288.6875 - val_mae: 50288.6875
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50656.2773 - mae: 50656.2773 - val_loss: 50274.8320 - val_mae: 50274.8320
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49621.4844 - mae: 49621.4844 - val_loss: 50266.5938 - val_mae: 50266.5938
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49659.0430 - mae: 49659.0430 - val_loss: 50258.3125 - val_mae: 50258.3125
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49172.9688 - mae: 49172.9688 - val_loss: 50247.3867 - val_mae: 50247.3867
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49785.7500 - mae: 49785.7500 - val_loss: 50235.5859 - val_mae: 50235.5859
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49662.3008 - mae: 49662.3008 - val_loss: 50234.7578 - val_mae: 50234.7578
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49770.5586 - mae: 49770.5586 - val_loss: 50222.2617 - val_mae: 50222.2617
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50025.3555 - mae: 50025.3555 - val_loss: 50216.1953 - val_mae: 50216.1953
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49781.2969 - mae: 49781.2969 - val_loss: 50203.1055 - val_mae: 50203.1055
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49780.4219 - mae: 49780.4219 - val_loss: 50203.2539 - val_mae: 50203.2539
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49873.0039 - mae: 49873.0039 - val_loss: 50200.2031 - val_mae: 50200.2031
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49393.9766 - mae: 49393.9766 - val_loss: 50200.8125 - val_mae: 50200.8125
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50404.8438 - mae: 50404.8438 - val_loss: 50195.0000 - val_mae: 50195.0000
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49792.2617 - mae: 49792.2617 - val_loss: 50197.5312 - val_mae: 50197.5312
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50120.6523 - mae: 50120.6523 - val_loss: 50200.1211 - val_mae: 50200.1211
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49395.0234 - mae: 49395.0234 - val_loss: 50196.3945 - val_mae: 50196.3945
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50022.7930 - mae: 50022.7930 - val_loss: 50198.0039 - val_mae: 50198.0039
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48960.6367 - mae: 48960.6367 - val_loss: 50204.4609 - val_mae: 50204.4609
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49525.9023 - mae: 49525.9023 - val_loss: 50191.4727 - val_mae: 50191.4727
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49870.7344 - mae: 49870.7344 - val_loss: 50180.8320 - val_mae: 50180.8320
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49154.8477 - mae: 49154.8477 - val_loss: 50182.9766 - val_mae: 50182.9766
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49310.9062 - mae: 49310.9062 - val_loss: 50183.9258 - val_mae: 50183.9258
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49272.6016 - mae: 49272.6016 - val_loss: 50186.2266 - val_mae: 50186.2266
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49410.0742 - mae: 49410.0742 - val_loss: 50191.7070 - val_mae: 50191.7070
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49475.2461 - mae: 49475.2461 - val_loss: 50190.0859 - val_mae: 50190.0859
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49200.3281 - mae: 49200.3281 - val_loss: 50185.4727 - val_mae: 50185.4727
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49500.7578 - mae: 49500.7578 - val_loss: 50191.9805 - val_mae: 50191.9805
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49211.5938 - mae: 49211.5938 - val_loss: 50185.6250 - val_mae: 50185.6250
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49460.5547 - mae: 49460.5547 - val_loss: 50190.8086 - val_mae: 50190.8086
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48816.3867 - mae: 48816.3867 - val_loss: 50202.8633 - val_mae: 50202.8633

In [51]:
model.save('model_reg.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [52]:
%load_ext tensorboard

In [ ]:
%tensorboard --logdir logs/fit

In [55]:
# testing the model performance with testing data
test_loss, test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE: {test_mae}')
print(f'Test Loss: {test_loss}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51019.1445 - mae: 51019.1445
Test MAE: 50180.83203125
Test Loss: 50180.83203125